.cpd-statement-activities {
  .statement-activity-category {
    .progress { height: 3px; }
  }

  .cpd-statement-activity { padding: 0.5rem; }

  .statement-activity-content {
    a { color: inherit; }
  }

  .carry-forward {
    text-align: right;
    padding-right: 2rem;
  }

  .score {
    text-align: right;
  }

}
