.cpd-statement-activities {
  .statement-activity-category {
    .progress { height: 3px; }
  }

  .statement-activity-content {
    a { color: inherit; }
  }

  .carry-forward {
    text-align: right;
    padding-right: 2rem;
  }

  .score {
    text-align: right;
  }

}
