= render('effective/cpd_statements/activities_table', cpd_statement: cpd_statement) do |cpd_statement_activity|
  = render('effective/cpd_statement_activities/form', cpd_statement_activity: cpd_statement_activity)
