= card('Agreements') do
  %table.table
    %tbody
      %tr
        %th Read all contents and agreements
        %td= cpd_statement.confirm_read ? 'Yes' : 'No'

      %tr
        %th Declared all information factual
        %td= cpd_statement.confirm_factual ? 'Yes' : 'No'

      %tr
        %th Files
        %td
          - if cpd_statement.files.blank?
            None
          - else
            %ul
              - cpd_statement.files.each do |file|
                = link_to(file.filename, url_for(file), target: '_blank')
