.effective-cpd-statement
  = render('effective/cpd_statements/summary', cpd_statement: cpd_statement)
  = render('effective/cpd_statements/activities', cpd_statement: cpd_statement)
  = render('effective/cpd_statements/agreements', cpd_statement: cpd_statement)
