= card(cpd_statement.cpd_cycle.to_s + ' Statement') do
  = render('effective/cpd_statements/summary', cpd_statement: cpd_statement)

= card('Activities') do
  = render('effective/cpd_statements/activities', cpd_statement: cpd_statement, readonly: true)
